code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

.wd_flex_row_container {
  display: flex;
  flex-direction: row;
}
.wd_flex_grow_1 {
  flex-grow: 1;
}

.wd_breadcrumb {
  --bs-breadcrumb-divider: '>';
}
